<header>
    <nav>
        <a href="/">bookshelf</a>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors">add authors</a></li>
        </ul>
    </nav>
</header>